@font-face {
  font-family: "open-sans";
  src: url("/fonts/open-sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  font-family: "open-sans";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("/img/background/background-img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  gap: 30px;
}

.container {
  margin-top: 50px;
  width: 80%;
  height: 70vh;
  min-height: max-content;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: wrap;
}

.btn {
  text-decoration: none;
  color: rgb(188, 80, 80);
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 15px;
}

.btn:hover {
  color: rgb(255, 0, 0);
}

.d-none {
  display: none;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 11;
}

.back-home {
  position: absolute;
  top: 15px;
  left: 50;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(210, 72, 72);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
}

.back-home:hover {
  background-color: rgb(255, 0, 0);
}
