body {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 99vw;
  margin: 0;
  background-image: url("/img/background/background-img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  gap: 30px;
}

canvas {
  background-color: black;
  box-shadow: 0 0 100px 100px rgb(207, 207, 207);
  z-index: 10;
}

.headline-img {
  width: 800px;
  height: auto;
  position: relative;
  top: 0;
  left: 50;
  z-index: 9;
}

.dog-background {
  width: 130px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 5%;
}

.enemy-big-background {
  width: 130px;
  height: auto;
  position: absolute;
  top: 40%;
  right: 5%;
}

.enemy-small-background {
  width: 130px;
  height: auto;
  position: absolute;
  top: 60%;
  left: 10%;
}

@media (max-height: 1000px) {
  .headline-img {
    width: 500px;
  }
}
